.navbar{
    border: 0px;
    width: 100%;
    height: 50px;
    background-size: cover;
}

.calendarContainer {
  margin: auto;
  max-width: 1000px;
}

#description {
	font-family:'Times New Roman', Times, serif;
	font-size:20px;
  }

.btn {
	font-family:sans-serif;
	font-size:20px;
}

.content {
    margin:30px;
}

#login {
	margin-top: 5%;
	margin-left: 37.5%;
	width:25%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    padding:20px 20px;
  }
  
.container-lg {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    height: 80vh;
}

#profileFriends {
    max-height: 200px;
    max-width: 300px;
    overflow: scroll;
}

#account-panels {
    height: 100%;
}

#account-row {
    height: 100%;
}

.editProfile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto auto;
    object-fit: cover;
}

.crop {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: auto auto;
    object-fit: cover;
}

.bottom-left {
    bottom: 2px;
    left: 2px;
}

.center-content {
    width: 20vh;
    height: 20vh;
    margin: auto auto;
}

a {
  display: block;
}

.listItemPhoto {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
}

.giveBorder {
  border-style: groove;
  margin: 15px;
  min-height: 20px;
}

.fitCalendar {
  min-width: 200px;
  height: 100%;
}

#overlapCalendar {
  height: 100%;
  width: 100%;
}

.modal-dialog {
  width: 90% !important;
  height: 90%;
}

/* DROPDOWN STUFF */

/* Dropdown Button */
.dropbtn {
    background-color: #286090;
    color: white;
    font-size: 14px;
    padding: 7px 35px 7px 35px;
    margin: 5px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #286090;
  }
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}