.navbar{
    border: 0px;
    width: 100%;
    height: 50px;
    background-size: cover;
}

.col-sm-4 {
	font-family:'Times New Roman', Times, serif;
	font-size:20px;
  }

.btn {
	font-family:sans-serif;
	font-size:20px;
}

.panel {
	margin-top: 50px;
	margin-left: 37.5%;
	width:25%;
}

.footer {
    background-color:grey;
    padding:20px 20px;
    color:white;
}
/*.navbar .navbar-nav{
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar .navbar-header{
    text-align: center;
}
.navbar .navbar-header a {
    float: none;
}*/